.sales{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding:  50px;
    .salesList{
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }
    .showAllSalesButton{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}