.effect {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3490196078);
    z-index: 110;
    display: none;
}

.filtersBar {
    transition: .5s;
    width: 20%;
    height: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 120;
    display: flex;

    .productFilters {
        background-color: #ebebeb;
        overflow: scroll;
        padding: 20px;
        gap: 50px;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 600;

        .productPriceFilter {
            position: relative;


            .tooltipPrice {
                display: flex;
                width: 100%;
                color: grey;
                justify-content: space-between;
            }

            .togglePriceInputs {
                display: flex;
                margin-top: 10px;
                gap: 50px;

                input {
                    border: none;
                    border-radius: 6px;
                    color: rgb(31, 31, 31);
                    width: 100%;
                    height: auto;
                    cursor: pointer;
                    outline: none;

                }

                input:placeholder {
                    color: grey;
                }
            }
        }

        .onSaleInput,
        .onNeInput {
            input {
                background: black;
                color: black;
            }
        }
    }
}

.effect.active {
    display: block;
}

.filtersBar.active {
    right: 0;
    transition: .5s;
}