@media screen and (min-width: 1024px) and (max-width:1599px) {
    .popularGoods {    
        .popularGoodsSections {   
            height: 50px;
            .popularGoodsSection {

                font-size: 12px;
            }
            .popularGoodsSectionActive {
                font-size: 13px;
            }
    
        }
    
        .popularGoodsList {
            gap: 20px;
        }
    }
}
@media screen and (min-width: 720px) and (max-width:1023px){
    .popularGoods {    
        .popularGoodsSections {   
            height: 50px;
            .popularGoodsSection {
                margin-right: 30px;

                font-size: 11px;
            }
            .popularGoodsSectionActive {
                margin-right: 30px;

                font-size: 13px;
            }
    
        }
    
        .popularGoodsList {
            gap: 10px;
        }
    }
}


@media screen and (min-width: 500px) and (max-width:719px) and (max-height:1000px){

        .popularGoods {    
            .popularGoodsSections {   
                height: 40px;
                padding-bottom: 20px;
                margin:30px 0;
    
                .popularGoodsSection {
                    margin-right: 10px;

                    font-size: 9px;
                }
                .popularGoodsSectionActive {
                    margin-right: 10px;

                    font-size: 10px;
                }
        
            }
        
            .popularGoodsList {
                gap: 10px;
            }
        }
    
    
}

@media screen and (max-width:499px) and (max-height:1000px) {
    .popularGoods {   
        padding: 20px; 
        .popularGoodsSections {   
            height: 40px;
            padding-bottom: 20px;
            margin:30px 0;

            .popularGoodsSection {
                margin-right: 6px;
                font-size: 6px;
            }
            .popularGoodsSectionActive {
                margin-right: 6px;
                font-size: 7px;
            }
    
        }
    
        .popularGoodsList {
            gap: 10px;
        }
    }
}