.popularGoods {
    padding: 50px;
    display: flex;
    background-color: white;
    justify-content: center;
    margin-top: 100px 0;
    flex-direction: column;

    .popularGoodsSections {
        display: flex;
        position: relative;
        padding-bottom: 20px;
        margin: 50px 0;
        border-bottom: 1px solid grey;
        height: 80px;
        cursor: pointer;
        white-space: nowrap;

        .popularGoodsSection {
            width: auto;
            font-size: 20px;
            margin-right: 50px ;
            transition: .5s;
        }

        .popularGoodsSectionActive {
            width:auto ;
            font-size: 20px;
            margin-right: 50px ;
            color: gray;
            border-bottom: 1px solid grey;
            transition: .5s;
        }

    }

    .popularGoodsSections:active {
        outline: none;
        background-color: transparent;
    }


    .popularGoodsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

    }
}