.popularGoods {
    padding: 50px;
    display: flex;
    background-color: white;
    justify-content: center;
    margin: 100px 0 0 0;
    flex-direction: column;

    .popularGoodsSections {
        display: flex;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 50px;
        border-bottom: 1px solid grey;
        height: 50px;
        cursor: pointer;
        white-space: nowrap;

        .popularGoodsSection {
            width: auto;
            font-size: 18px;
            margin-right: 50px;
            transition: .5s;
        }

        .popularGoodsSectionActive {
            width: auto;
            font-size: 18px;
            margin-right: 50px;
            color: gray;
            border-bottom: 1px solid grey;
            transition: .5s;
        }

    }

    .popularGoodsSections:active {
        outline: none;
        background-color: transparent;
    }

    .popularGoodsBlock {
        padding: 0 100px;
        .popularGoodsList {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

        }

    }
}