.languages {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    justify-content:flex-start;

    .language {
        font-weight: 700;
        margin: 0 5px;
        cursor: pointer;
        transition: .3s;
        font-size: 16px;
    }
    .language:hover{
        color: grey;
    }
}