.imagesBlok {
    height: 1330px;
    margin-bottom: 50px;
    background-color: white;

    .saleProductInfos {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px;
        padding-bottom: 200px;
        height: 100%;
        width: 100%;

        .imgAndSelectToPage {
            display: flex;
            width: 100%;
            height: 100%;

            .saleProductInfo {
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                padding-right: 50px;
                padding-left: 0;
                padding-top: 0;
                text-align: start;

                .salePercent {
                    background: gray;
                    color: white;
                    padding: 15px 35px;

                }

                .selectToPage {
                    height: auto;

                    .saleTitle {
                        color: black;
                        font-size: 50px;
                    }

                    .saleDiscription {
                        color: black;
                        font-size: 18px;
                        margin: 50px 0;
                    }
                }

                .slideNumber {
                    color: black;
                    font-size: 50px;
                }
            }

            .img {
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                div {

                    div {
                        aspect-ratio: 1/1;

                        img {
                            width: 100%;
                            height: 100%;
                        }


                    }
                }


            }
        }

    }
}