@media screen and (min-width: 1600px) and (max-width:1919px) {
    .newsAndSaleProducts {
        height: 1091px;

        .newsAndSaleProductsInfo {
            padding-bottom: 150px;
        }
    }
}

@media screen and (min-width: 1280px) and (max-width:1599px) {
    .newsAndSaleProducts {
        height: 848px;

        .newsAndSaleProductsInfo {
            padding: 60px;
            padding-bottom: 100px;


            .imgAndInfo {
                .productInfo {
                    padding-right: 25px;

                    .productNewAndSaleMarker {
                        .productSalePercent {
                            font-size: 11px;
                            padding: 10px 25px;
                        }

                        .newProduct {
                            font-size: 11px;
                            padding: 10px 25px;
                        }

                    }

                    .productName {
                        font-size: 45px;
                    }

                    .selectToPage {

                        .productPrice {
                            font-size: 50px;
                        }
                    }

                }
            }

        }
    }

}


@media screen and (min-width: 1024px) and (max-width:1279px) {
    .newsAndSaleProducts {
        height: 700px;

        .newsAndSaleProductsInfo {
            padding: 50px;
            padding-bottom: 100px;

            .imgAndInfo {
                .productInfo {
                    padding-right: 25px;

                    .productNewAndSaleMarker {

                        .productSalePercent {
                            font-size: 9px;
                            padding: 7px 20px;
                        }

                        .newProduct {
                            font-size: 9px;
                            padding: 7px 20px;
                        }

                    }

                    .productName {
                        font-size: 35px;
                    }

                    .selectToPage {

                        .productPrice {
                            font-size: 11px;
                        }
                    }

                }
            }

        }
    }
}

@media screen and (min-width: 720px) and (max-width:1023px) {
    .newsAndSaleProducts {
        height: 520px;

        .newsAndSaleProductsInfo {
            padding: 35px;
            padding-bottom: 100px;

            .imgAndInfo {
                .productInfo {
                    padding: 0 25px 25px 0;

                    .productNewAndSaleMarker {

                        .productSalePercent {
                            font-size: 11px;
                            padding: 7px 20px;
                        }

                        .newProduct {
                            font-size: 11px;
                            padding: 7px 20px;
                        }

                    }

                    .productName {
                        font-size: 25px;
                    }

                    .selectToPage {

                        .productPrice {
                            font-size: 13px;
                        }
                    }

                }

            }

        }
    }

}

@media screen and (min-width: 500px) and (max-width:719px) and (max-height:1000px) {
    .newsAndSaleProducts {
        height: 358px;

        .newsAndSaleProductsInfo {
            padding: 30px;
            padding-bottom: 70px;

            .imgAndInfo {
                .productInfo {
                    padding-right: 10px;

                    .productNewAndSaleMarker {
                        .productSalePercent {
                            font-size: 11px;
                            padding: 7px 20px;
                        }

                        .newProduct {
                            font-size: 11px;
                            padding: 7px 20px;
                        }

                    }

                    .productName {
                        font-size: 19px;
                    }

                    .selectToPage {


                        .productPrice {
                            font-size: 9px;
                            margin: 20px 0;
                        }
                    }
                }
            }

        }
    }

}

@media screen and (max-width:499px) and (max-height:1000px),
screen and (max-width:450px) and (max-height:1000px) {
    .newsAndSaleProducts {
        height: 270px;

        .newsAndSaleProductsInfo {
            padding: 10px 30px;

            .imgAndInfo {
                .productInfo {
                    width: 50%;
                    padding: 0;
                    height: 220px;

                    .productNewAndSaleMarker {
                        .productSalePercent {
                            font-size: 9px;
                            padding: 7px 20px;
                        }

                        .newProduct {
                            font-size: 9px;
                            padding: 7px 20px;
                        }

                    }

                    .productName {
                        font-size: 20px;
                    }

                    .selectToPage {
                        padding-right: 1px;


                        .productPrice {
                            font-size: 9px;
                            margin: 20px 0;
                        }
                    }
                }

                .img {
                    width: 50%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;

                    div {
                        display: flex;
                        height: 220px;
                    }
                }

            }


        }
    }
}



@media screen and (max-width:450px) and (max-height:1000px) {
    .newsAndSaleProducts {

        height: 200px;

        .newsAndSaleProductsInfo {


            .imgAndInfo {
                .productInfo {
                    height: 130px;

                    .productNewAndSaleMarker {

                        .productSalePercent {
                            padding: 7px 20px;
                            font-size: 9px;
                        }

                        .newProduct {
                            font-size: 9px;
                            padding: 7px 20px;
                        }

                    }

                    .productName {
                        font-size: 14px;
                    }

                    .selectToPage {
                        padding-right: 1px;


                        .productPrice {
                            font-size: 7px;
                            margin: 15px 0;
                        }
                    }

                }

                .img {
                    width: 50%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;

                    div {
                        display: flex;
                        height: 130px;
                    }
                }

            }


        }
    }
}

@media screen and (min-width:280px) and (max-width:319px) and (max-height:1000px) {
    .newsAndSaleProducts {
        height: 250px;

        .newsAndSaleProductsInfo {
            padding: 35px;

            .imgAndInfo {
                .productInfo {
                    padding: 0;

                    .productNewAndSaleMarker {

                        .productSalePercent {
                            font-size: 9px;
                            padding: 7px 20px;
                        }

                        .newProduct {
                            font-size: 9px;
                            padding: 7px 20px;
                        }

                    }

                    .productName {
                        font-size: 9px;
                    }

                    .selectToPage {
                        padding-right: 1px;


                        .productPrice {
                            font-size: 7px;
                            margin: 15px 0;
                        }
                    }

                }
            }
        }
    }
}