.productInfoList {
    display: flex;
    width: 100%;
    padding: 20px;
    gap: 50px;

    .productImg {
        aspect-ratio: 1/1;
        width: 40%;

        img {
            width: 100%;
        }
    }

    .productCharacteristicsInfo {
        width: 60%;

        .productName {
            margin-bottom: 30px;
            font-size: 40px;
        }

        .productsPrices {
            padding-top: 10px;
            border-top: 1px solid grey;
            margin-bottom: 30px;

            .productPrice {
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                font-weight: bolder;

                .productPriceInfo {
                   
                    text-align: right;
                }
            }

            .productFormerPrice {
                
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                font-weight: bolder;
                color: grey;

                .productPriceInfo {
                    text-align: right;
                    position: relative;
                    color: #c55252;

                    .deleteLinear {
                        position: absolute;
                        top: 50%;
                        border: .7px solid #c55252;
                        width: 100%;
                    }
                }


            }
        }

        .productCharacteristics {
            padding-top: 10px;
            border-top: 1px solid grey;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 20px;
            font-weight: bolder;


            .productCharacteristicCategory {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #dedddd;
                font-weight: bold;
                padding-bottom: 15px;
                font-size: 15px;
                color: grey;

                .productCharacteristicsInfo {
                    text-align: right;
                    color: #c55252;
                    font-size: 15px;
                }
            }
            .productCharacteristicCategory:last-of-type{
                border: none;
                padding: 0;
            }
        }
        .producDescriptionSection{
            .producDescriptionTitle{
                padding-top: 10px;
                border-top: 1px solid grey;
                margin-top: 30px;
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: bolder;
            } 
            .producDescription{
                font-size: 15px;
                font-weight: bold;
                color: grey;
            }

        }
    }
}