.search {
    width: 230px;
    border-radius: 10px;
    background: white;
    display: flex;
    height: 45px;
    align-items: center;
    border: 1px solid grey;

    form {
        transition: .5s;

        .searchInput {
            width: 200px;
            height: 40px;
            border: none;
            border-radius: 10px;
            padding-left: 10px;
        }

        .searchInput::placeholder {
            color: grey;
            font-size: 16px;
        }
        .searchInput:focus{
            outline: none;
        }

    }

    .searchIcon {
        font-size: 16px;
        cursor: pointer;
        transition: .5s;
    }
}