@media screen and (min-width: 1280px) and (max-width:1599px),
(min-width: 1024px) and (max-width:1279px) {
    .RegisterloginButtons {
        font-size: 11px;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .RegisterloginButtons {
        font-size: 11px;

    }
}

@media screen and (max-width:1023px) {
    .RegisterloginButtons {
        font-size: 11px;
    }
}

@media screen and (min-width: 500px) and (max-width:719px) and (max-height:1000px) {
    .RegisterloginButtons {
        font-size: 9px;
        width: 100px;
    }
}

@media screen and (max-width:499px) and (max-height:1000px) {
    .RegisterloginButtons {
        font-size: 9px;
        width: 100px;
    }
}

@media screen and (min-width:280px) and (max-width:319px) and (max-height:1000px) {
    .RegisterloginButtons {
        font-size: 8px;
        width: 70px;
    }
}

@media screen and (min-width: 720px) and (max-width:1023px) and (max-height:500px) {
    .RegisterloginButtons {

        justify-content: flex-end;
    }

}