@media screen and (min-width: 1280px) and (max-width:1599px) {
    .sliderSection {
        .newProductsParam {
            height: 450px;

            .slick-dots {
                bottom: 0px;

                li {
                    margin: 0 20px;

                    button:before {
                        font-size: 11px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .sliderSection {
        .newProductsParam {
            height: 350px;

            .slick-dots {
                bottom: 0px;

                li {
                    margin: 0 20px;

                    button:before {
                        font-size: 11px;
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 720px) and (max-width:1023px) {
    .sliderSection {
        .newProductsParam {
            height: 300px;

            .slick-dots {
                bottom: 0px;
                li {
                    margin: 0 10px;

                    button:before {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 720px) and (max-width:1023px),
(min-width: 500px) and (max-width:719px) and (max-height:1000px) {
    .sliderSection {
        .newProductsParam {
            height: 300px;

            .slick-dots {
                li {
                    margin: 0 5px;

                    button:before {
                        font-size: 7px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:499px) and (max-height:1000px) {
    .sliderSection {
        .newProductsParam {
            height: 250px;

            .slick-dots {
                bottom: 0px;

                li {
                    margin: 0 2.5px;
                }
            }
        }
    }

}

@media screen and (min-width:280px) and (max-width:319px) and (max-height:1000px) {
    .sliderSection {
        .newProductsParam {
            height: 350px;
        }
    }
}