@media screen and (min-width: 1280px) and (max-width:1919px) {
    .latestProductsBlok {

        .newProductBlock {
            padding: 0
        }
    }
}

@media screen and (min-width: 1280px) and (max-width:1599px) {
    .latestProductsBlok {
        padding: 25px;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .latestProductsBlok {
        padding: 25px;

        .newProductBlock {
            padding: 0 100px
        }
    }
}

@media screen and (min-width: 720px) and (max-width:1023px) {
    .latestProductsBlok {
        padding: 20px;

        .newProductBlock {
            padding: 30px
        }
    }
}

@media screen and (min-width: 500px) and (max-width:719px) and (max-height:1000px) {
    .latestProductsBlok {
        padding: 20px;

        .newProductBlock {
            padding: 0
        }
    }
}

@media screen and (max-width:499px) and (max-height:1000px) {
    .latestProductsBlok {
        padding: 20px;

        .newProductBlock {
            padding: 0
        }
    }
}

@media screen and (max-width:465px) and (max-height:1000px) {
    .latestProductsBlok {
        padding: 20px;

        .newProductBlock {
            padding: 0 50px
        }
    }
}

@media screen and (max-width:430px) and (max-height:1000px) {
    .latestProductsBlok {
        .newProductBlock {
            padding: 0 30px
        }
    }
}

@media screen and (max-width:400px) and (max-height:1000px) {
    .latestProductsBlok {
        .newProductBlock {
            padding: 0 20px
        }
    }
}

@media screen and (max-width:370px) and (max-height:1000px) {
    .latestProductsBlok {
        .newProductBlock {
            padding: 0
        }
    }
}