.newGoods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding:  50px;
    .newBlock{
        padding:0 100px ;
        .newList{
            display: flex;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
    .showAllNewButton{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}