@media screen and (min-width: 1600px) and (max-width:1919px) {
    .productCard {
        width: 350px;

        .productCardInfo {
            width: 310px;

            .productCardImgAndSale {
                .productCardSale {
                    font-size: 13px;
                }

                .productCardNewProduct {
                    font-size: 13px;
                    top: 35px;
                }

                .productCardPreorder {
                    font-size: 13px;
                }

                .productCardImg {
                    width: 310px;
                    height: 310px;
                    transition: .5s;
                }

            }

        }

        .productCardName {
            font-size: 23px;
        }

        .productCardprices {
            .productCardPrice {
                font-size: 18px;
            }

            .formerAndSalePrice {
                font-size: 15px;
                padding: 3px;

                .deleteLinear {
                    transform: translate(0, 9.5px);
                    border: 1px solid grey;
                }
            }

        }

    }
}

@media screen and (min-width: 1280px) and (max-width:1599px) {
    .productCard {
        width: 280px;

        .productCardInfo {
            width: 240px;

            .productCardImgAndSale {
                .productCardSale {
                    font-size: 13px;
                }

                .productCardNewProduct {
                    font-size: 10px;
                    top: 25px;
                }

                .productCardPreorder {
                    font-size: 10px;
                }
            }

        }

        .productCardName {
            font-size: 13px;
        }

        .productCardprices {
            .productCardPrice {
                font-size: 15px;
            }

            .formerAndSalePrice {
                font-size: 13px;
                padding: 3px;

                .deleteLinear {
                    transform: translate(0, 8.5px);
                    border: 1px solid grey;
                }
            }

        }

    }

}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .productCard {
        width: 240px;
        padding: 10px;

        .productCardInfo {
            width: 215.5px;

            .productCardImgAndSale {
                .productCardSale {
                    font-size: 13px;
                }

                .productCardNewProduct {
                    font-size: 10px;
                    top: 25px;
                }

                .productCardPreorder {
                    font-size: 10px;
                }
            }

        }

        .productCardName {
            font-size: 13px;
        }

        .productCardprices {
            .productCardPrice {
                font-size: 15px;
            }

            .formerAndSalePrice {
                font-size: 13px;
                padding: 3px;

                .deleteLinear {
                    transform: translate(0, 8.5px);
                    border: 1px solid grey;
                }
            }

        }

    }
}

@media screen and (min-width: 720px) and (max-width:1023px) {
    .productCard {
        width: 190px;
        padding: 10px;

        .productCardInfo {
            width: 165px;

            .productCardImgAndSale {
                .productCardSale {
                    font-size: 11px;
                    padding: 2.5px 10px;
                }

                .productCardNewProduct {
                    font-size: 8px;
                    padding: 2.5px 10px;
                    top: 20px;
                }

                .productCardPreorder {
                    font-size: 8px;
                    padding: 2.5px 10px;

                }


            }

        }

        .productCardName {
            font-size: 11px;
        }

        .productCardprices {
            .productCardPrice {
                font-size: 13px;
            }

            .formerAndSalePrice {
                margin-left: 20px;
                font-size: 11px;
                padding: 3px;

                .deleteLinear {
                    transform: translate(0, 6px);
                    border: .5px solid grey;
                }
            }

        }

    }


}


@media screen and (min-width: 500px) and (max-width:719px) and (max-height:1000px) {
    .productCard {
        width: 190px;
        padding: 10px;

        .productCardInfo {
            width: 165px;

            .productCardImgAndSale {
                .productCardSale {
                    font-size: 11px;
                    padding: 3px 10px;
                }

                .productCardNewProduct {
                    font-size: 8px;
                    padding: 3px 10px;
                    top: 20px;
                }

                .productCardPreorder {
                    font-size: 8px;
                    padding: 3px 10px;

                }

                .productCardImg {
                    width: 165px;
                    height: 165px;
                    transition: .5s;
                }

            }

        }

        .productCardName {
            font-size: 11px;
        }

        .productCardprices {
            padding-right: 20px;

            .productCardPrice {
                font-size: 13px;
            }

            .formerAndSalePrice {
                margin-left: 15px;
                font-size: 11px;
                padding: 3px;

                .deleteLinear {
                    transform: translate(0, 7px);
                    border: 1px solid grey;
                }
            }

        }

    }
}


@media screen and (max-width:499px) and (max-height:1000px) {
    .productCard {
        width: 135px;
        padding: 7px;
        .productCardInfo {
            width: 117px;


            .productCardImgAndSale {
                .productCardSale {
                    font-size: 9px;
                    padding: 2.5px 10px;
                }

                .productCardNewProduct {
                    font-size: 7px;
                    padding: 2.5px 10px;
                    top: 15px;
                }

                .productCardPreorder {
                    font-size: 7px;
                    padding: 2.5px 10px;

                }

                .productCardImg {
                    width: 117px;
                    height: 117px;
                }

            }

        }

        .productCardName {
            font-size: 9px;
        }

        .productCardprices {
            padding-right: 20px;

            .productCardPrice {
                font-size: 11px;
            }

            .formerAndSalePrice {
                margin-left: 10px;
                font-size: 9px;
                padding: 3px;

                .deleteLinear {
                    transform: translate(0, 6px);
                    border: .5px solid grey;
                }
            }

        }

    }
}

@media screen and (min-width:280px) and (max-width:319px) and (max-height:1000px) {
    .productCard {
        width: 110px;
        padding: 7px;

        .productCardInfo {
            width: 90px;
            .productCardImgAndSale {
                .productCardSale {
                    font-size: 7px;
                    padding: 2.5px 10px;
                }

                .productCardNewProduct {
                    font-size: 7px;
                    padding: 2.5px 10px;
                    top: 15px;
                }

                .productCardPreorder {
                    font-size: 7px;
                    padding: 2.5px 10px;

                }

                .productCardImg {
                    width: 90px;
                    height: 90px;
                }

            }

        }

        .productCardName {
            font-size: 14px;
        }

        .productCardprices {
            padding-right: 20px;

            .productCardPrice {
                font-size: 11px;
            }

            .formerAndSalePrice {
                margin-left: 10px;
                font-size: 9px;
                padding: 3px;

                .deleteLinear {
                    transform: translate(0, 6px);
                    border: .5px solid grey;
                }
            }

        }

    }
}