.productCard {
    width: 340px;
    height: auto;
    padding: 15px;
    transition: .5s;
    border: 2px solid rgba(167, 166, 166, 0);
    cursor: pointer;

    .productCardInfo {
        width: 310px;
        height: auto;
        font-size: 15px;
        font-weight: bolder;
        display: flex;
        flex-direction: column;

        .productCardImgAndSale {
            color: white;
            position: relative;
            margin-bottom: 20px;

            .productCardSale {
                background:rgb(129, 49, 49);
                position: absolute;
                top: 0;
                padding: 5px 20px;
                font-size: 18px;
                text-align: center;
                right: 0;
            }

            .productCardNewProduct {
                background-color: black;
                position: absolute;
                top: 30px;
                padding: 5px 20px;

            }

            .productCardPreorder {
                background-color: gray;
                position: absolute;
                padding: 5px 20px;
            }

            .productCardImgFrame {
                aspect-ratio: 1/1;
                .productCardImg {
                    width: 100%;
                    height: 100%;
                    transition: .5s;
                }

            }

        }

    }

    .productCardName {
        font-size: 18px;
    }

    .productCardprices {
        display: flex;
        align-items: center;
        padding-right: 50px;

        .productCardPrice {
            font-size: 20px;
            font-weight: bolder;
        }

        .formerAndSalePrice {
            font-size: 18px;
            color: grey;
            padding-bottom: 5px;
            margin-left: 30px;
            left: 150px;

            .deleteLinear {
                height: 0;
                transform: translate(0, 11px);
                border: 1px solid grey;
            }
        }


    }

}

.productCard:hover {
    border: 2px solid rgb(167, 166, 166);
    transform: scale(1.01);
}