.header {
    display: flex;
    justify-content: center;
    background: white;
    color: black;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 200px;

    a {
        .logo {
            height: 150px;
            width: 450px;
            cursor: pointer;
        }
    }
}