@media screen and (min-width: 1600px) and (max-width:1919px) {
    .footer {
        padding: 50px
    }

}

@media screen and (min-width: 1280px) and (max-width:1599px),
(min-width: 1024px) and (max-width:1279px) {
    .footer {
        height: 350px;
        padding: 25px 100px;
        font-size: 13px;

        .footerSection {
            .footerSections {
                row-gap: 20px;

                .footerLogo {
                    width: 80px;
                    height: 80px;

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }

            .footerSections:nth-child(2) {
                margin-top: 100px;
            }

            .footerContactsSections {
                padding-top: 25px;
                row-gap: 15px;

                h3 {
                    font-size: 15px
                }

                .socLinks {
                    .footerIcons {
                        margin-right: 10px;
                    }
                }

                .footerSections {
                    .footerCategories {
                        .footerIcons {
                            margin-right: 10px;
                        }
                    }
                }

            }
        }

        .allRightsReserved {
            font-size: 7px;
        }

    }
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .footer {
        height: 330px;
        font-size: 13px;

        .footerSection {

            .footerContactsSections {
                padding-top: 30px;

                h3 {
                    font-size: 15px
                }

            }
        }

        .allRightsReserved {
            font-size: 5px;
        }

    }
}

@media screen and (min-width: 720px) and (max-width:1023px),
screen and (min-width: 500px) and (max-width:719px) and (max-height:1000px) {
    .footer {
        height: 300px;
        padding: 20px;
        font-size: 13px;

        .footerSection {
            .footerSections {
                row-gap: 10px;
            }

            .footerSections:nth-child(2) {
                margin-top: 115px;
            }

            .footerContactsSections {
                row-gap: 10px;
                padding-top: 55px;

                h3 {
                    font-size: 15px;
                }

                .socLinks {
                    .footerIcons {
                        margin-right: 10px;
                    }
                }

                .footerSections {
                    row-gap: 10px;

                    .footerCategories {
                        .footerIcons {
                            margin-right: 10px;
                        }
                    }

                }

            }
        }

        .allRightsReserved {
            font-size: 7px;
            color: rgb(114, 114, 114);
            text-align: center;
        }

    }
}


@media screen and (min-width: 500px) and (max-width:719px) and (max-height:1000px) {
    .footer {
        height: 250px;
        font-size: 11px;

        .footerSection {
            .footerSections {
                .footerLogo {
                    width: 60px;
                    height: 60px;

                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
            }

            .footerSections:nth-child(2) {
                margin-top: 70px;
            }

            .footerContactsSections {
                padding-top: 20px;
                h3 {
                    font-size: 13px
                }
            }
        }

        .allRightsReserved {
            font-size: 7px;
        }

    }
}



@media screen and (max-width:499px) and (max-height:1000px) {
    .footer {
        width: 100%;
        height: 250px;
        background: #000;
        color: white;
        padding: 50px;
        font-size: 9px;
        padding: 10px;

        .footerSection {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;

            .footerSections {
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                .footerLogo {
                    width: 60px;
                    height: 60px;

                    img {
                        width: 60px;
                        height: 60px;
                    }
                }

                .footerCategories {
                    cursor: pointer;
                    transition: .5s;
                }

                .footerCategories:hover {
                    color: gray;
                }
            }

            .footerSections:nth-child(2) {
                margin-top: 70px;
            }

            .footerContactsSections {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                padding-top: 26px;

                .socLinks {
                    .footerIcons {
                        margin-right: 5px;
                        cursor: pointer;
                        transition: .5s;
                    }

                    .footerIcons:hover {
                        color: gray;
                    }
                }

                .footerSections {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    .footerCategories {
                        cursor: pointer;
                        transition: .5s;

                        .footerIcons {
                            margin-right: 5px;
                        }
                    }

                    .footerCategories:last-child:hover {
                        color: white;
                        cursor: default;
                    }

                    .footerCategories:hover {
                        color: gray;

                    }

                }

            }
        }

        .allRightsReserved {
            font-size: 7px;
            color: rgb(114, 114, 114);
            text-align: center;
        }

    }
}