@import '~typeface-roboto/index.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    text-decoration: none;
}

.app{
    width: 100%;
}

.project {
    width: 1910px;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.button {
    max-width: 200px;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(61, 61, 61, 1) 35%, rgba(107, 107, 107, 1) 100%);
    color: white;
    background-size: 100%;
    display: flex;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    padding: 16px 40px;
    border: none;

}

.button:active {
    background: linear-gradient(90deg, rgba(107, 107, 107, 1) 0%, rgba(61, 61, 61, 1) 35%, rgba(0, 0, 0, 1) 100%);
    outline: none;
    border: none;
}

.titleSection {
    font-size: 45px;
    margin: 20px 0;
    text-align: center;
    background: #f1f1f1;
    padding: 15px 0;
}

.descriptionSection {
    font-size: 18px;
}